# project related
data/

# dev related
.idea/
.vscode
.DS_Store
*/.DS_Store
wandb/

# python
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# miscellaneous
*.png
debug/
*.bin
*/*.bin
*/*/*.bin
*/*/*/*.bin
*/*/*/*/*.bin
